# Essential Spring Boot Configuration
SPRING_SERVER_PORT=<E.g: 8080>
REMOTE_PSQL_URL=<E.g jdbc:postgresql://ep-twilight-snow-a4sk00t0-pooler.us-east-1.aws.neon.tech/neondb?user=<user_name>&password=<password>&sslmode=require>
LOCAL_PSQL_URL=<E.g: jdbc:postgresql://localhost:5432/vote_ease_db?user=<user_name>&password=<password>>
DOCKER_PSQL_URL="jdbc:postgresql://db:5432/vote_ease_db"

# Docker PostgreSQL credentials
DOCKER_PSQL_USER=<db_user_name>
DOCKER_PSQL_PASSWORD=<strong_db_password>
DOCKER_PSQL_DB=<E.g vote_ease_db>

Others for reference:
MARIA_DB_URL=<E.g: jdbc:mariadb://localhost:3306/vote_ease_db>