# ========== Server Configuration ==========
# Server port (e.g., 8000)
SPRING_SERVER_PORT=

# ========== Local PostgreSQL Configuration ==========
PSQL_USERNAME=
PSQL_PASSWORD=
# JDBC URL for local PostgreSQL (e.g., jdbc:postgresql://localhost:5432/vote_ease_db)
LOCAL_PSQL_URL=

# ========== Remote PostgreSQL (Neon) Configuration ==========
NEON_USERNAME=
NEON_PASSWORD=
# Remote JDBC URL for Neon PostgreSQL (login to your Neon account to get the cridentials)
# (e.g., jdbc:postgresql://ep-twilight-snow-a4sk00t0-pooler.us-east-1.aws.neon.tech/neondb?user=<user_name>&password=<password>&sslmode=require)
REMOTE_PSQL_URL=

# ========== MariaDB Configuration (Optional) ==========
# JDBC URL for MariaDB (e.g., jdbc:mariadb://mariadb:3306/spring_library)
MARIA_DB_URL=